
.formulario {
    background-color: aliceblue;
    width: 500px;
    height: 650px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 6px 6px 6px rgb(108, 165, 59);
    margin: 20px;
    margin-left: 35%;
}

form{
    display:flex;
    flex-direction: column;
    gap: 30px;
   
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    height: 60px;
}

textarea{
    height: 100px;
}

.formulario button {
    padding: 10px;
    background-color: #e25d83c2;
    color: white;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    height: 50px;
    font-size: 20px;
}

button:hover {
    background-color: rgba(80, 201, 241, 0.572);
}


@media (max-width: 768px) {
    .formulario {
        width: 90%;        
        height: auto;      
        margin-left: auto; 
        margin-right: auto;
        padding: 15px;    
    }

    input, textarea, button {
        height: auto; 
        padding: 12px; 
        font-size: 1rem;
    }
}

/*<----DONACIONES CSS------!*/

.donacion button {

    padding: 10px;
    background-color: #3b70e1c2;
    color: white;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: rgba(242, 222, 44, 0.572);
    color: black;
    transform: scale(1.5);
}